@import "tailwindcss";

:root {
  --bg-primary: #030712;
  --bg-card: #0F172A;
  --accent: #06B6D4;
  --accent-hover: #0891B2;
  --text-primary: #F1F5F9;
  --text-secondary: #94A3B8;
  --border: #1E293B;
}

body {
  background-color: var(--bg-primary);
  color: var(--text-primary);
  font-family: 'Inter', sans-serif;
}